.list-group {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  .list-group > .list-group-item {
    margin: 10px;
  }
  .list-group-item {
    width: 75px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    background-color: white;
  }
  .list-group-item > .list-group-item-heading {
    overflow: hidden;
    text-align: center;
    line-height: 30px;
  }
  
  /* 文字間隔の調整 */
  .list-group-item-heading.-compress {
    letter-spacing: -4px;
  }
  /* 省略記号の表示 */
  .list-group-item-heading.-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
  }