<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue ToDo</title>
  <link rel="stylesheet" href="lib/bootstrap-3.3.7.min.css">
  <script src="lib/vue-2.1.10.min.js"></script>
  <script src="lib/vue-resource-1.1.2.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-list"></i> Vue Todo</a>
    </div>
  </nav>
  <div class="container" id="todos">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <center>
              <form class="form-inline">
                <input class="form-control" placeholder="Title" v-model="todo.title">
                <input class="form-control" placeholder="Content" v-model="todo.content">
                <button class="btn btn-primary" v-on:click="addTodo"><i class="glyphicon glyphicon-plus"></i></button>
              </form>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <span class="list-group-item" v-for="(todo, index) in todos">
                <button type="btn btn-success" class="close" aria-label="Close" v-on:click="deleteTodo(index)">
                  <i class="glyphicon glyphicon-ok" style="font-size:24px; color:green"></i></button>
                <h4 class="list-group-item-heading">{{ todo.title }}</h4>
                <p class="list-group-item-text">{{ todo.content }}</p>
                <p class="list-group-item-text">{{ todo.adddate }}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="app.js"></script>

</html>